

  .button {
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: #ffd000;
    padding: 2%;
    border-radius: 0% 0% 70% 70%;

}


  
  .flex-wrapper {
    display: flex;
    margin-left: 2rem;
    flex-direction: row-reverse;
  }


  