/* This is where we put styles used by all pages so I don't have to copy and paste them 80-gabillion times */
body {
    background-color: #F5F7DC;
    color: #001524;
    margin: 0;
    font-family: system-ui;
  }

  a{
    text-decoration: none;
    font-weight: 650;
    color: #5E2C32;
    font-family: system-ui;
  }

  h1 {
    color: #5E2C32;
    margin-left: 4rem;
    font-family: system-ui;
  }

  p{
    margin-left: 4rem;
    font-size: 30px;
    font-family: system-ui;
  }
  .header {
    background-color: #ffd000;
    display: flex;
    position: sticky;
    top: 0;
    font-family: system-ui;
    align-items: center;
    
  }

  .media-box{
    display: flex;
    margin-left: 4rem;
    margin-right: 4rem;
    padding: 1%;
    align-items: center;
    justify-content: center;
   
  }
  
  .button {
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: #ffd000;
    padding: 2%;
    border-radius: 0% 0% 70% 70%;
    cursor: pointer;
    font-size: x-large;
    

}
  .flex-wrapper {
    display: flex;
    margin-top: -1px; 
    flex-direction: row-reverse;
    /* position: fixed; */
    top: 0;
    width: 98%;
  }
  .logo{
    height: 109px;
    padding: 1%;
    cursor: pointer;

  }
  .name{
    height: 65px;
    padding: .5%;
    cursor: pointer;
  }